* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

.container {
  width: 50rem;
  margin: 0 auto;
  padding: 2.4rem 4rem 4rem 4rem;
  background-color: #fafafa;
  border-radius: 11px;
  margin-top: 15rem;
}

.numbers-operations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.clear,
.delete {
  grid-column: span 2;
  padding: 1rem;
  text-align: center;
}

.clear {
  background-color: red;
}

.delete {
  background-color: #f3ef;
}

.number,
.operation {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #444;
  cursor: pointer;
}

.num-zero,
.op-equal {
  grid-column: span 2;
}

.op-equal {
  grid-row: 5;
}

.screen {
  min-height: 10rem;
  background-color: #fafafa;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid #333;
}

.previous-operand {
  border-bottom: 1px solid #333;
}
